body {
  background-color: transparent;
  border: 0;
}
.header {
  border-bottom: 1px solid #e6e8e9;
  padding: 16px 30px 15px;
}
.menu {
  text-align: right;
}
.menu-img {
  max-width: 2%;
  padding-left: 2%;
}
.intro {
  margin-top: 5%;
  margin-bottom: 5%;
}
.logopart {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}
.avatar {
  max-width: 66px;
  height: auto;
  vertical-align: middle;
  border-radius: 50%;
}
.logotext {
  vertical-align: middle;
  margin: 0 0 0 5px;
  font-weight: bold;
  text-transform: Uppercase;
  font-family: "Rubik", sans-serif;
  color: #676768;
}
.intro-2 {
}
.intro-2 h1 {
  text-align: center;
  font-family: "Larsseit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  word-spacing: 5px;
  color: #111515;
  font-size: 11.5vw;
  line-height: 11.5vw;
  letter-spacing: -0.7vw;
}
